.textarea {
  &__box {
    width: 100%;

    textarea {
      width: 100%;
      min-height: 94px;
      padding: 15px;
      border: solid 1px #c9cbcd;
      border-radius: 5px;
      background-color: white;
      color: #242629;
      font-size: 16px;
      line-height: 1.3;
      resize: vertical;
      overflow: auto;
      outline: none;

      &::placeholder {
        color: #242629;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 2px;
        bottom: 6px;
        width: 0;
        height: 0;
        border-bottom: 20px solid white;
        border-left: 20px solid transparent;
        pointer-events: none;
        z-index: 9;
      }
    }
  }

  &__label {
    color: #737476;
    margin-bottom: 8px;
  }

  &__message {
    margin-top: 8px;
  }
}


