.chat__user {
  padding: 15px;
  cursor: pointer;

  &:hover,
  &-active {
    background-color: #6dbeff59;
  }

  &__info {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &_name {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}