.badge {
  position: relative;
  display: inline-block;
  color: #000000d9;

  &-count,
  &-dot {
    display: inline-block;
    z-index: auto;
    box-shadow: 0 0 0 1px #fff;
  }

  &-absolute {
    position: absolute;

    &.badge-count {
      top: 0;
      right: 0;
      transform: translate(50%,-50%);
      transform-origin: 100% 0%;
    }

    &.badge-dot {
      top: 3px;
      right: 3px;

      &.badge-bottom {
        top: inherit;
        bottom: 3px;
      }
    }
  }

  &-relative {
    position: relative;
  }

  &-count {
    min-width: 20px;
    height: 20px;
    padding: 0 6px;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;


    & > span {
      display: inline-block;
      height: 20px;
    }
  }

  &-dot {
    width: 6px;
    min-width: 6px;
    height: 6px;
    border-radius: 100%;
  }

  &-gray {
    background-color: #edeeee;
  }

  &-green {
    background-color: #00c200;
  }

  &-blue {
    background-color: #6dbeff;
  }

  &-red {
    background-color:#f50057;
  }
}
