.audio {
  $audio: &;

  &_progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }

  &__btn {
    position: relative;
    z-index: 1;
  }

  &__wave {
    margin: 0 20px;
  }

  &__player {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 16px -4px rgb(0 0 0 / 18%);
    overflow: hidden;

    &-light {
      color:  black;
      background-color: #edeeee;

      #{$audio}_progress {
        background-color: #9594955e
      }

      #{$audio}__btn  {
        & button {
          background-color: #b8bdbd;
        }

        & span {
          color:  black;
        }
      }
    }

    &-dark {
      color: white;
      background-color: #6dbeff;

      #{$audio}_progress {
        background-color: #0079dc87
      }

      #{$audio}__btn  {
        & button {
          background-color: #25689e;
        }

        & span {
          color: white;
        }
      }
    }
  }
}